<nb-layout>
  <nb-layout-header style="width:100%;"> 
    <h1 style="font-size:1.5rem;">FACEBbBLOGgG</h1>
    <input class="mainLoginInput" type="text" placeholder="&#61442; Search" style="font-family: FontAwesome, Arial; font-style: normal" style="width: 40%; height: 2.5rem; border-radius: 7px; margin-left: 3%; border-color: gray;">
    <span style="flex: 2 auto"> </span>
    <button nbButton semi-round outline status="primary" style="float: right" size="small">Login</button>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet>
      
    </router-outlet>
  </nb-layout-column>
  <nb-layout-footer></nb-layout-footer>
  <nb-sidebar>
    <nb-menu [items]= "items">
    </nb-menu>
  </nb-sidebar>

</nb-layout>